{% extends "portal/_base.html" %}

{% block content %}
<div class='container'>
    <h1>Charge rent</h1>
    <form action="" method="post">
        {{form.errors}}
        <div class="field">
            house_type:
            {{ form.house_type }}
            {{ form.house_type.errors }}
        </div>
        <div class="field">
            house_decoratio:
            {{ form.house_decoration }}
            {{ form.house_decoration.errors }}
        </div>
        <div class="field">
            house_size:
            {{ form.house_size }}
            {{ form.house_size.errors }}
        </div>
        <div class="field">
            location_province:
            {{ form.location_province }}
            {{ form.location_province.errors }}
        </div>
        <div class="field">
            location_city:
            {{ form.location_city }}
            {{ form.location_city.errors }}
        </div>
        <div class="field">
            location_zone:
            {{ form.location_zone }}
            {{ form.location_zone.errors }}
        </div>
        <div class="field">
            location_area:
            {{ form.location_area }}
            {{ form.location_area.errors }}
        </div>
        <div class="field">
            location_building:
            {{ form.location_building }}
            {{ form.location_building.errors }}
        </div>
        <hr/>
        <div class="field">
            owner_name:
            {{ form.owner_name }}
            {{ form.owner_name.errors }}
        </div>
        <div class="field">
            owner_real_id:
            {{ form.owner_real_id }}
            {{ form.owner_real_id.errors }}
        </div>
        <div class="field">
            bank_name:
            {{ form.bank_name }}
            {{ form.bank_name.errors }}
        </div>
        <div class="field">
            card_id:
            {{ form.bank_card_id }}
            {{ form.bank_card_id.errors }}
        </div>
        <div class="field">
            bank_location_province:
            {{ form.bank_location_province }}
            {{ form.bank_location_province.errors }}
        </div>
        <div class="field">
            bank_location_city:
            {{ form.bank_location_city }}
            {{ form.bank_location_city.errors }}
        </div>
        <input type="submit" value="OK">
    </form>
</div>
{% endblock %}
