{% extends "portal/account/_base.html" %}
{% load i18n %}

{% block content %}
    
<div class="container">
  <div class="row">
    <div class="span2 graybox" id="sidebar">
      <ul class="nav graybox-inner">
        <h3>My rents</h3>
        <li>
          <a class="selected" href="#">home</a>
        </li>
        <li>
          <a href="#">pay order</a>
        </li>
        <li>
          <a href="#">charge order</a>
        </li>
        <li>
          <a href="#">messages</a>
        </li>
        <li>
          <a href="#">Bank cards</a>
        </li>
		<li>
          <a href="/z/account/info/">Personal inforsmation</a>
        </li>
		<li>
          <a href="/z/account/safe/">Security certificate</a>
        </li>
      </ul>
    </div>

    <div class="span10" id="content">
      <div class="graybox">
        <div class="graybox-inner">
          <h3>我的租房宝>认证安全>实名认证</h3>
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
      
      <hr/>
      <span class="text-error">{{ error }}</span>

      <div class="control-group">
        <label class="control-label">{% trans 'RealName' %}</label>
        <div class="controls">
         {{ form.real_name }}
         {{ form.real_name.error }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">{% trans 'Real Num' %}</label>
        <div class="controls">
         {{ form.real_id }}
         {{ form.real_id.error }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">{% trans 'RealName Picture Face' %}</label>
        <div class="controls">
         {{ form.front_image }}
         {{ form.front_image.error }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">{% trans 'RealName Picture oppsite' %}</label>
        <div class="controls">
         {{ form.back_image }}
         {{ form.back_image.error }}
        </div>
      </div>
      <div class="controls-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit"></input>
        </div>
      </div>
    </form>

        </div>
      </div>
    </div>
  </div> <!-- graybox -->
</div> <!-- container -->

{% endblock %}
