{% extends "portal/account/_base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="span2 graybox" id="sidebar">
      <ul class="nav graybox-inner">
        <h3>My rents</h3>
        <li>
          <a class="selected" href="#">home</a>
        </li>
        <li>
          <a href="#">pay order</a>
        </li>
        <li>
          <a href="#">charge order</a>
        </li>
        <li>
          <a href="#">messages</a>
        </li>
        <li>
          <a href="#">Bank cards</a>
        </li>
		<li>
          <a href="/z/account/info/">Personal inforsmation</a>
        </li>
		<li>
          <a href="/z/account/safe/">Security certificate</a>
        </li>
      </ul>
    </div>

    <div class="span10" id="content">
      <div class="graybox">
        <div class="graybox-inner">
          <h3>Personal Information</h3>
          <table cellspacing="0" class="table table-striped">
	    
	    <br>用户名：{{ username }}  
	    <a href="{% url 'account_vip_confirm' %}">升级VIP    </a>
	    <a href="#">VIP特权    </a>
	    <a href="{% url 'uploadphoto' %}">Set photo</a><p>&nbsp;&nbsp</p>
	  
	
	    </br>
	    <br>真实姓名：{{ real_name }}
	    
	     {% if user.confirm_state == True %}
	     <tr>Have confirmed!!!</tr>
	     {% else %}
	     <a href="{% url 'name_certificate' %}">实名认证</a>
	     <tr>If having send the information, Please waiting for confirm!!!</tr>
	     </br>
	     {% endif %}
	    <br>电话：{{ phone }}</br>
	    <br>身份证号：{{ real_id }}</br>
	    <br>Email邮箱：{{ email }}</br>
	    
	    {% if user.photo %}
	    <br>Show photo:<img src='{{ user.photo.url }}' /></br>
	    {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div> <!-- graybox -->
</div> <!-- container -->

{% endblock %}