{% extends "portal/account/_base.html" %}
{% load i18n %}

{% block content %}

    
<div class="container">
  <div class="row">
    <div class="span2 graybox" id="sidebar">
      <ul class="nav graybox-inner">
        <h3>My rents</h3>
        <li>
          <a class="selected" href="#">home</a>
        </li>
        <li>
          <a href="#">pay order</a>
        </li>
        <li>
          <a href="#">charge order</a>
        </li>
        <li>
          <a href="#">messages</a>
        </li>
        <li>
          <a href="#">Bank cards</a>
        </li>
		<li>
          <a href="/z/account/info/">Personal inforsmation</a>
        </li>
		<li>
          <a href="/z/account/safe/">Security certificate</a>
        </li>
      </ul>
    </div>

    <div class="container">
  <div class="formbox">
 
      <h3>Show HeadImg</h3>
      <span class="text-error">{{ errors }}</span>

      <div class="control-group">
        <label class="control-label">headimg: {{ front_image }}</label>
        <div class="controls">
        
	
      </div>
      


  </div> <!-- formbox -->
</div> <!-- container -->

{% endblock %}