{% extends "portal/_base.html" %}

{% block content %}
<div class='container'>
    <h1>Sign up</h1>
    <form action="" method="post">
        <div class="field">
            <label for="id_subject">username:</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="field">
            <label for="id_password">password:</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <div class="field">
            <label for="id_real_name">real_name:</label>
            {{ form.real_name }}
            {{ form.real_name.errors }}
        </div>
        <div class="field">
            <label for="id_real_id">real_id:</label>
            {{ form.real_id }}
            {{ form.real_id.errors }}
        </div>
        <div class="field">
            <label for="id_location_province">location_province:</label>
            {{ form.location_province }}
            {{ form.location_province.errors }}
        </div>
        <div class="field">
            <label for="id_location_city">location_city:</label>
            {{ form.location_city }}
            {{ form.location_city.errors }}
        </div>
        <div class="field">
            <label for="id_phone">phone:</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>
        <div class="field">
            <label for="id_email">Your e-mail address:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
