{% extends "portal/_base.html" %}

{% block content %}
<div class='container'>
  <h1>Sign In</h1>
  <span class="text-error">{{ errors }}</span>
  <form action="" method="post">
    <div class="field">
      <label for="id_subject">username:</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="field">
      <label for="id_password">password:</label>
      {{ form.password }}
      {{ form.password.errors }}
    </div>
    <input type="submit" value="Sign In">
  </form>
</div>
{% endblock %}
