{% extends "portal/_base.html" %}

{% block content %}
<div class="container">
  <div class="formbox">
    <form class="form-horizontal" action="" method="post">
      <h2>Sign In</h2>
      <hr/>
      <span class="text-error">{{ errors }}</span>

      <div class="control-group">
        <label class="control-label">Username:</label>
        <div class="controls">
          {{ form.username }}
          {{ form.username.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Password:</label>
        <div class="controls">
          {{ form.password }}
          {{ form.password.errors }}
        </div>
      </div>
      <div class="controls-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit"></input>
        </div>
      </div>
    </form>
  </div> <!-- formbox -->
</div> <!-- container -->
{% endblock %}
