{% extends "portal/_base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <p>{% trans 'total expense' %}: {{ renter.total_expense }}</p>
  <a class="btn btn-primary pull-right" href="{% url 'charge_renter_done' renter.id renter.rent_id %}">confirm</a>
</div>
<div class="container">
  <div class="graybox">
    <div class="grabox-inner">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'renter name' %}</th>
            <th>{% trans 'renter username' %}</th>
            <th>{% trans 'month expense' %}</th>
            <th>{% trans 'rent date range' %}</th>
            <th>{% trans 'pay model' %}</th>
            <th>{% trans 'pay date range' %}</th>
            <th>{% trans 'deposit' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ renter.renter_name }}</td>
            <td>{{ renter.renter.username }}</td>
            <td>{{ renter.rent_expense }}</td>
            <td>{{ renter.rent_months }} {{renter.rent_begin_date}}</td>
            <td>{{ renter.rent_pay_model }}</td>
            <td>{{ renter.pay_months }} {{ renter.pay_begin_date }}</td>
            <td>{{ renter.deposit }}</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- grabox-inner -->
  </div> <!-- graybox -->
</div><!-- container -->
<div class="container">
  <a class="btn btn-primary pull-right" href="{% url 'charge_renter_done' renter.rent_id renter.id%}">confirm</a>
</div>
{% endblock %}
