{% extends "portal/merchant/m_base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="formbox">
    <form class="form-horizontal" action="" method="post">
      <h2>Add Rental Account</h2>
      <hr/>
      <span class="text-error">{{ errors }}</span>

      <div class="control-group">
        <label class="control-label">AccountType:</label>
        <div class="controls">
          {{ form.account_type }}
          {{ form.account_type.errors }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">AccountName:</label>
        <div class="controls">
          {{ form.account_name}}
          {{ form.account_name.errors }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">RentalBankName:</label>
        <div class="controls">
          {{ form.rentalbank_name }}
          {{ form.rentalbank_name.errors }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">RentalBankNum:</label>
        <div class="controls">
          {{ form.rentalbank_num }}
          {{ form.rentalbank_num.errors }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">AccountAddress:</label>
        <div class="controls">
          {{ form.account_address }}
          {{ form.account_address.errors }}
        </div>
      </div>
  
      <div class="controls-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit"></input>
        </div>
      </div>
    </form>
  </div> <!-- formbox -->
</div> <!-- container -->
{% endblock %}