{% extends "portal/merchant/m_base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="formbox">
    <form class="form-horizontal" action="" method="post">
      <h2>Change Password</h2>
      <hr/>
      <span class="text-error">{{ errors }}</span>

      <div class="control-group">
        <label class="control-label">OldPassword:</label>
        <div class="controls">
          {{ form.oldpassword }}
          {{ form.oldpassword.errors }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">NewPassword:</label>
        <div class="controls">
          {{ form.newpassword }}
          {{ form.newpassword.errors }}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">NewPassAgain:</label>
        <div class="controls">
          {{ form.newpassagain }}
          {{ form.newpassagain.errors }}
        </div>
      </div>

      <div class="controls-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit"></input>
        </div>
      </div>
    </form>
  </div> <!-- formbox -->
</div> <!-- container -->
{% endblock %}