{% load staticfiles %}
{% load i18n %}
<html>
  <head>
    <title>{% trans '421 forever' %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'portal/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'portal/css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'portal/css/layout.css' %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{% static 'portal/js/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/stupidtable.min.js' %}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">ZuFangBao Merchant</a>
          <ul class="nav">
            <li > <a href="{% url 'signin' %}">{% trans 'Personal_login'%}</a> </li>
            <li class="active"> <a href="#">{% trans 'Merchant' %}</a> </li>
          </ul> <!-- nav -->

          <ul class="nav pull-right">
            <li><a href="{% url 'merchant_signin' %}">{% trans 'M_SignIn' %}</a></li>
            <li><a href="{% url 'merchant_signup' %}">{% trans 'M_SignUp' %}</a></li>
            <li><a href="{% url 'merchant_logout' %}">{% trans 'M_Logout' %}</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- navbar -->


    <div class="header">
      <div class="container">
        <h1>LOGO</h1>
      </div
      <div>
          
          <ul>
            <li><a href="{% url 'merchant_home' %}">{% trans 'MerchantHome' %}</a></li>
            <li><a href="{% url 'merchant_ordermanage' %}">{% trans 'MerchantOrderCenter' %}</a></li>
            <li><a href="{% url 'merchant_housemanage' %}">{% trans 'HouseCenter' %}</a></li>
            <li><a href="{% url 'merchant_account' %}">{% trans 'MerchantAccount' %}</a></li>
            <li><a href="{% url 'merchant_confirm' %}">{% trans 'MerchantConfirm' %}</a></li>
            
          </ul>
          
        </div>
    </div> <!-- header -->
    <hr/>
    {% block content %}
    {% endblock %}
  </body>
</html>
