{% extends "portal/account/_base.html" %}
{% load i18n %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="span2 graybox" id="sidebar">
      <ul class="nav graybox-inner">
        <h3>My rent</h3>
        <li>
          <a  href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a  href="#"></a>
        </li>
        <li>
          <a  href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a class="selected" href="#">{% trans 'VIP' %}</a>
        </li>
      </ul>
    </div>
           
    {{ message }} have VIP function!
        
        
        
    </div>
    </div>
</div>
{% endblock %}