{% extends "portal/_base_account.html" %}
{% load i18n %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="span2 graybox" id="sidebar">
      <ul class="nav graybox-inner">
        <h3>My rent</h3>
        <li>
          <a  href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a  href="#"></a>
        </li>
        <li>
          <a  href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a class="selected" href="{% url 'account_vip' %}">{% trans 'VIP' %}</a>
        </li>
      </ul>
    </div>
    To become VIP!
           
    <form class="form-horizontal" action="" method="post">
      <h3>Insert text to active</h3>
      <hr/>
      <span class="text-error">{{ errors }}</span>

      <div class="control-group">
        <label class="control-label">{% trans 'VIPV Text:' %}</label>
        <div class="controls">
          {{ form.text }}
          {{ form.text.errors }}
        </div>
      </div>
      <div class="controls-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit"></input>
        </div>
      </div>
    </form>
        
        
        
    </div>
    </div>
</div>
{% endblock %}